#root {
    // max-width: 1280px;
    // margin: 0 auto;
    padding: 2rem;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    gap: 20px;
}